#{extends 'bhave-main.html' /}
#{set title:'Bhave yourself' /}

<script>
function deleteTest(id) {
	
	var deleteTestUrl = #{jsAction @Tests.delete(':id') /} 
	
	$.ajax(deleteTestUrl({id: id}), {
		type: "DELETE",
		success: function() {
			console.log("test " + id + " removed");
			$('#test_'+id).fadeOut('slow', function() {
				$('#test_'+id).remove();
			});
		}
	});
}

</script>

#{if tests.size > 0}
	<div id="testsContainer" class="glow">
		<ul>
			#{list items:tests, as:'test'}
			    <li class="testRow" id="test_${test.id}"><a href="@{Tests.show(test.id)}">${test.name}</a><button class="deleteTest" onclick="deleteTest(${test.id})">Delete</button></li>
			#{/list}
		</ul>
	</div>
#{/if}