#{extends 'bhave-main.html' /}
#{set title:'Bhave: ' + testId + '. ' + testName /}

#{globalVars /}	
#{waitFunctions /}	
#{knockoutHandlers /}	
#{dictionary /}	
#{translate /}	
#{supportingFunctions /}	
#{bhaviour /}	
#{testFunctions /}
	
<script>
	$(document).ready(function() {
		
		myDictionary = new Dictionary();
	    $.getJSON("@{Bhave.getDictionary()}", function(dictionary) {
	    	ko.mapping.fromJS(dictionary, {}, myDictionary);
	    }); 

	    myTest = new Test();
	    $.getJSON("@{Tests.get(testId)}", function(testData) {
	    	ko.mapping.fromJS(testData, {}, myTest);
		    $.getJSON("@{Bhave.getEnv()}", function(envData) {
		    	ko.mapping.fromJS(envData, {}, myTest);
				ko.applyBindings(myTest);
				applyTranslation();
		    });
	    }); 
	});
</script>

#{envView /}
#{screenshotView /}
#{resultView /}
#{testView /}