#{extends 'behave-main.html' /}
#{set title:'Bhave yourself' /}

<script>
	var myTest, screenshot;
	
	function forElementToBePresent(findBy) { 
		return function() { 
			return myTest.driver.isElementPresent(findBy); 
		}; 
	}
	
	function toBe(input) {
		return input;
	}
	
	function forElementAttribute(element, attribute, requiredValue) {
		return function() {
			return element.getAttribute(attribute).then(function(currentValue) {
				return currentValue == requiredValue;
			});
		};
	}
	
	function forTitle(requiredTitle) {
		return function() {
			return myTest.driver.getTitle().then(function(currentTitle) {
				return currentTitle == requiredTitle;
			});
		}; 
	}
	

	ko.bindingHandlers.slideVisible = {
	    init: function(element, valueAccessor) {
	        var shouldDisplay = valueAccessor();
	        $(element).toggle(shouldDisplay);
	    },
	    update: function(element, valueAccessor) {
	        var shouldDisplay = valueAccessor();
	        shouldDisplay ? $(element).slideDown() : $(element).slideUp();
	    } 
	};

	ko.bindingHandlers.fadeVisible = {
	    init: function(element, valueAccessor) {
	        var shouldDisplay = valueAccessor();
	        $(element).toggle(shouldDisplay);
	    },
	    update: function(element, valueAccessor) {
	        var shouldDisplay = valueAccessor();
	        shouldDisplay ? $(element).fadeIn() : $(element).fadeOut();
	    } 
	};
</script>
<script>
	var globalKeywords = {
		finish : "myTest.driver.quit();",
		load : "myTest.driver.get(~~~);"
	}
	
	var globalSynonyms = {
		quit : globalKeywords.finish,
		open : globalKeywords.load
	}

</script>
<script>

	function Behaviour(language, command) {
		this.language = ko.observable(language);
		this.command = ko.observable(command);
	}
	
	function Screenshot(png) {
		this.source = 'data:image/png;base64,' + png;
		var id = Math.random();
		this.id = 'screenshot_' + id;
		this.href = '#screenshot_' + id;
	}
	
	
	function Test() {
		var test = this;
		test.driverServer = ko.observable("http://localhost:9001/wd/hub");
		test.availableBrowsers = [
				"firefox",
				"chrome",
				"opera",
				"internet explorer",
				"android"
			];
		test.availablePlatforms = [
				"ANY",
				"LINUX",
				"WINDOWS"
			];
		test.driverBrowserName = ko.observable("firefox");
		test.driverVersion = ko.observable("");
		test.driverPlatform = ko.observable("ANY");
		test.driverJavascriptEnabled = ko.observable("true");

		test.behaviours = ko.observableArray([
			new Behaviour("", "myTest.driver.get('http://www.google.com');"),
			new Behaviour("", "myTest.driver.findElement(webdriver.By.name('q')).sendKeys('webdriver rocks');"),
			new Behaviour("", "myTest.driver.findElement(webdriver.By.name('btnG')).click();"),
			new Behaviour("", "myTest.driver.wait(forTitle(toBe('webdriver rocks - Google Search')), 1000);"),
			new Behaviour("", "screenshot = myTest.driver.takeScreenshot();"),
			new Behaviour("", "myTest.driver.quit();")		
		]);
		
		test.driver;
		test.executor;
		test.client;
		
		test.driverBuilder = function() {
			test.driver = webdriver.WebDriver.createSession(test.executor, {
				'browserName': test.driverBrowserName(),
				'version': test.driverVersion(),
				'platform': test.driverPlatform(),
				'javascriptEnabled': test.driverJavascriptEnabled()
			});
	    };

		test.executorBuilder = function() {
	    	test.client = new webdriver.http.CorsClient(test.driverServer());
	    	test.executor = new webdriver.http.Executor(test.client);
		};

		test.getExecutor = function() {
			console.log("creating executor");
			test.executorBuilder();
			test.executorCreated(true);
		}
		
		test.resetExecutor = function() {
			executor = null;
			test.executorCreated(false);
			test.resetDriver();
		}

		test.getDriver = function() {
			test.getExecutor();
			console.log("creating driver");
			test.driverBuilder();
			test.driverCreated(true);
		}
		
		test.resetDriver = function() {
			if (driver != null) {
				driver = null;
			}
			test.driverCreated(false);
		}

		test.executorCreated = ko.observable(false);
		test.driverCreated = ko.observable(false);
		
		test.run = function() {
			test.getDriver();
			console.log("running test");
			test.running(true);
			test.runBehaviours();
			test.updateScreenshot();
		}
		
		test.screenshots = ko.observableArray([]);
		
		test.updateScreenshot = function() {
			screenshot.then(function(png) {
				console.log("making image");
				test.screenshots.push(new Screenshot(png));
			});
		}
		
		test.running = ko.observable(false);
		
		test.removeBehaviour = function(behaviour) {
			test.behaviours.remove(behaviour)
		}
		test.addBehaviour = function(behaviour) {
			test.behaviours.push(new Behaviour(""));
		}
		
		test.runBehaviours = function() {
			var behaviourString = "";
			for (var i = 0; i < test.behaviours().length; i++) {
				behaviourString += test.behaviours()[i].command();
			}
			console.log(behaviourString);
			var exec = new Function(behaviourString);
			exec();
		};
	}

	webdriver.promise.Application.getInstance().on('uncaughtException', function(e) {
		screenshot = myTest.driver.takeScreenshot();
		myTest.driver.quit();
		console.log('Oh dear: ' + e);
    });
	
	$(document).ready(function() {
		myTest = new Test();
		ko.applyBindings(myTest);
	});
</script>

<div>
	Server: <input size="30" data-bind="value: driverServer" /><br/>
	Browser: <select data-bind="options: availableBrowsers, value: driverBrowserName"></select>
	Version: <input size="2" data-bind="value: driverVersion()"/>
	Platform: <select data-bind="options: availablePlatforms, value: driverPlatform"></select>
	JS Enabled: <input type="checkbox" data-bind="checked: driverJavascriptEnabled"/>
	<img src="@{'/public/images/running.gif'}" data-bind="fadeVisible: running()">
</div>

<div data-bind="visible: screenshots().length > 0">
	<nav>
		<ul data-bind="foreach: screenshots">
			<li>
				<a data-bind="attr: {href: href}">
					<img class="screenshotThumbnail" data-bind="attr: {src: source}"/>
				</a>
			</li>
		</ul>
	</nav>
	
	<ul data-bind="foreach: screenshots">
		<li data-bind="attr: {id: id}">
			<a href="#home">
				<img class="screenshotLarge" data-bind="attr: {src: source}"/>
			</a>		
		</li>
	</ul>
</div>

<div>
	<h3>Behaviours</h3>
	<table>
	    <tfoot>
	    	<tr><td></td><td></td><td><button data-bind="click: addBehaviour">Add</button></td></tr>
	    </tfoot>
	    <tbody data-bind="foreach: behaviours">
	        <tr>
	            <td><input size="30"  data-bind="value: language" /></td>
	            <td><input size="80"  data-bind="value: command" /></td>
	            <td><button data-bind="click: $root.removeBehaviour">Remove</button></td>
	        </tr>    
	    </tbody>
	</table>
	<button data-bind="click: run">Run Test</button>
</div>
