#{extends 'behave-main.html' /}
#{set title:'Behave yourself' /}

<script>
	var driver, test, functionString;
	
	function forElementToBePresent(findBy) { 
		return function() { 
			return driver.isElementPresent(findBy); 
		}; 
	}
	
	function toBe(input) {
		return input;
	}
	
	function forElementAttribute(element, attribute, requiredValue) {
		return function() {
			return element.getAttribute(attribute).then(function(currentValue) {
				return currentValue == requiredValue;
			});
		};
	}
	
	function forTitle(requiredTitle) {
		return function() {
			return driver.getTitle().then(function(currentTitle) {
				return currentTitle == requiredTitle;
			});
		}; 
	}
</script>
<script>

	driverBuilder = "driver = new webdriver.Builder().usingSession('').usingServer('http://localhost:4444/wd/hub').withCapabilities({'browserName': 'firefox','version': '','platform': 'ANY','javascriptEnabled': true}).build();";
	functionString = "driver.get('http://www.google.com');driver.findElement(webdriver.By.name('q')).sendKeys('webdriver rocks');driver.findElement(webdriver.By.name('btnG')).click();driver.wait(forTitle(toBe('webdriver rocks - Google Search')), 1000);var element = driver.findElement(webdriver.By.name('q'));driver.wait(forElementAttribute(element, 'name', toBe('q')), 1000);"
	
	function buildRunTest() {
		test = new Function(driverBuilder+functionString);
		test();
	}
	
	function BehaveViewModel() {
		this.driver = {
				server: ko.observable("http://localhost:4444/wd/hub"),
				session: ko.observable(),
				capability: {
					browserName: ["firefox", "chrome", "internet explorer", "opera", "android"],
					version: ko.observable(),
					platform: ["ANY", "Windows", "Linux"],
					javascriptEnabled: [true, false]
				}
			};
		
		this.behaviours = ko.observable();
		
		this.buildRunTest = function() {
			test = new Function(driverBuilder+functionString);
			test();
		}
	}
	
	ko.applyBindings(new BehaveViewModel());
</script>

<p>Server: <input data-bind="value: driver.server" /></p>
<p>Session: <input data-bind="value: driver.session" /></p>
<p>Behaviours: <input data-bind="value: behaviours" /></p>


<button data-bind="click: buildRunTest">Run Test</button>