#{extends 'bhave-main.html' /}
#{set title:'Bhave: ' + testId + '. ' + testName /}

#{globalVars /}	
#{waitFunctions /}	
#{knockoutHandlers /}	
#{dictionary /}	
#{supportingFunctions /}	
	
<script>
	
	webdriver.promise.Application.getInstance().on('uncaughtException', function(e) {
		screenshot = myTest.driver.takeScreenshot();
		myTest.driver.quit();
		console.log('Oh dear: ' + e);
    });
	
	$(document).ready(function() {
	    $.getJSON("/@bhave/test/"+${testId}, function(testData) {
	    	myTest = ko.mapping.fromJS(testData);
		    $.getJSON("/@bhave/loadEnv", function(envData) {
		    	ko.mapping.fromJS(envData, myTest);
		    	
		    	#{testFunctions /}
		    	
				ko.applyBindings(myTest);
		    });
	    }); 
		
	});
</script>

#{testView /}